/* 

Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
Color names - http://name-of-color.com/

==============================================
    CONTENT OF THE FILE
==============================================

    1. Fonts
    2. Variables

*/




/* 
* 2. Variables
*/

/*

$white: #fff;
$black: #000;

$btn-color: $white;
$btn-background: $black;

$animation-speed: 0.3s;

*/